<h4 align="center">{{ wall.name }} -- Recent Items</h4>
{% if wall.allow_html %}
{% autoescape off %}
{% for item in items %}
<p>
{{ item.body }} -- <b>{{ item.author.username }}</b>,{{ item.created_on }} {% ifequal item.author request.user %}<a href="{% wall edit_wall_item item.id %}">Edit</a>{% endifequal %}
</p>
{% endfor %}
{% endautoescape %}
{% else %}
{% for item in items %}
<p>
{{ item.body|striptags }} -- <b>{{ item.author.username }}</b>, {{ item.created_at|date:"N j, Y, h:i A" }} {% ifequal item.author request.user %}<a href="{% wall edit_wall_item item.id %}">Edit</a>{% endifequal %}
</p>
{% endfor %}
{% endif %}
